.hide {
  display: none;
}

table {
  border-spacing: 0;
  font-size: medium;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px auto;
  padding: 10px;
  margin-top: 10px;
}

.gridItem1 {
  margin-right: 20px;
  margin-top: 35px;
}

.gridItem2 {
}

.objectDesignerTable {
}

.columnType {
  width: 0.5%;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 50px !important;
}

.columnID {
  width: 0.5%;
  max-width: 0px !important;
}

.columnName {
  width: 2%;
}

.columnExtends {
  width: 1.5%;
}

.columnPackageName {
  width: 1%;
}

.columnPublisherName {
  width: 2%;
}

.columnPublisherName {
  width: 0.8%;
}

.columnNon {
  display: none;
}

th {
  text-align: left;
}

td {
  padding: 0;
}

.lineHeader {
  height: 25px;
  vertical-align: top;
  border-style: solid;
  /* border-left: 20px solid transparent;
    border-right: 20px solid transparent; */
  border-bottom: 2px solid #2000af;
}

.lineHeader:hover {
  background-color: var(--vscode-editor-background);
}

.lineHeaderBottom {
  height: 10px;
}

tr {
  height: 25px;
}

tr:hover {
  background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}
