:root {
    --mainbackgroundColor: #1a1d1e;
    --menuBackgroundColor: #292929;
    --headerBackgroundColor: #000000;
    --backgroundLight: #282b2c;
    --backgroundNormal: #1a1d1e;
    --backgroundDark: #121414;
    --backgroundBlack: #000000;
    --borderColorDark: #3b4042;
    --scrollbarBackgroundColor: #f1f1f1;
    --scrollbarThumbColor: #888888;
    --scrollbarThumbHoverColor: #555555;
    --textColor: #ffffff;
    --accentColorLight: #00d7ff;
    --accentColor: #0533ff;
    --accentColorDark: #0300a1;
}

html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--mainbackgroundColor);
    color: var(--textColor);
    margin: 0px;
    height: 100%;
    display: flex;
}

/* width */
 ::-webkit-scrollbar {
    width: 10px;
    border-radius: 0.25em;
}

/* Track */
 ::-webkit-scrollbar-track {
    background: var(--scrollbarBackgroundColor);
    border-radius: 0.25em;
}

/* Handle */
 ::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumbColor);
    border-radius: 0.25em;
}

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarThumbHoverColor);
}